<div class="search-container container-fluid">
  <div class="row justify-content-around align-self-start h-100 blur">
    <div class="col-12 col-md-3 align-self-center">
      <h2 class='text-light'>Busque su barrio para vivir</h2>
      <%= form_with url: "/properties/filter", method: :get, class: 'd-flex' do |form| %>
          <%= form.select :kind, 
                          kind, {}, 
                          class: "form-select bg-dark text-white w-50 custom-select" %>
          <%= form.select :operation, 
                          operations, {}, 
                          class: "form-select bg-dark text-white w-50 custom-select" %>
          <%= form.text_field :neighborhood, class: "form-control me-2", placeholder: 'Caballito, Palermo..'%>
          <%= form.submit "Buscar", class: "btn btn-dark" %>
      <%end%>
    </div>
  </div>
</div>

<!-- about us -->
<%# <%= render 'main/partials/about_us'%>

<!-- Neighborhoods -->
<%= render 'main/partials/features_neighborhoods'%>

<!-- Properties -->
<%= render 'main/partials/features_properties'%>