<p id="notice"><%= notice %></p>

<p>
  <strong>Bbq:</strong>
  <%= @amenity.bbq %>
</p>

<p>
  <strong>Sport zones:</strong>
  <%= @amenity.sport_zones %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @amenity.gym %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @amenity.pool %>
</p>

<p>
  <strong>Comunal room:</strong>
  <%= @amenity.comunal_room %>
</p>

<p>
  <strong>Property:</strong>
  <%= @amenity.property_id %>
</p>

<%= link_to 'Edit', edit_amenity_path(@amenity) %> |
<%= link_to 'Back', amenities_path %>
