<%= form_with(model: property_image) do |form| %>
  <% if property_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_image.errors.count, "error") %> prohibited this property_image from being saved:</h2>

      <ul>
        <% property_image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>
  
  <div class="field">
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.text_field :property_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
