<div id="carouselExampleControls<%=property.id%>" class="carousel slide" data-bs-interval="false">
  <div class="carousel-inner">
      <% count = 0%>
      <% property.property_image.images.each do  |img| %>
        <div class="carousel-item <%= 'active' if count == 0 %> background-covr">
          <%= image_tag(img, class: "card-img-top d-block background-covr") %>
          <% count += 1 %>
        </div>
      <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%=property.id%>" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%=property.id%>" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>