<%= link_to property_path(property), class: "remove-link-styles col col-12 col-md-4" do %>
  <div class="card card-container">
    <div>
      <%= render 'properties/carrousel', property: property %>
    </div>
    <div>
      <div class="card-icons-container">
        <i class="fa-solid fa-bed"> <%= property.property_feature.rooms%></i> 
        <i class="fa-solid fa-bath"> <%= property.property_feature.bathrooms%></i>
        <i class="fa-solid fa-car"> <%= property.property_feature.parking%></i>
        <i class="fa-solid fa-expand"> <%= property.property_feature.total_area%></i>
      </div>
      <div class="card-description-container">
        <p class="card-description"><%= "#{property.kind} en #{property.operation} en 
                #{property.address.province.capitalize}, #{property.address.city}, 
                #{property.address.municipality} entre 
                #{property.address.main_street} y #{property.address.secondary_street}"%></p>
        <h4><%= property.price %> USD</h4>
      </div>
    </div>
  </div>
<% end %>
<%= link_to property_path(property), class: "remove-link-styles col col-12 col-md-4" do %>
  <div class="card card-container">
    <div>
      <%= render 'properties/carrousel', property: property %>
    </div>
    <div>
      <div class="card-icons-container">
        <i class="fa-solid fa-bed"> <%= property.property_feature.rooms%></i> 
        <i class="fa-solid fa-bath"> <%= property.property_feature.bathrooms%></i>
        <i class="fa-solid fa-car"> <%= property.property_feature.parking%></i>
        <i class="fa-solid fa-expand"> <%= property.property_feature.total_area%></i>
      </div>
      <div class="card-description-container">
        <p class="card-description"><%= "#{property.kind} en #{property.operation} en 
                #{property.address.province.capitalize}, #{property.address.city}, 
                #{property.address.municipality} entre 
                #{property.address.main_street} y #{property.address.secondary_street}"%></p>
        <h4><%= property.price %> USD</h4>
      </div>
    </div>
  </div>
<% end %>
<%= link_to property_path(property), class: "remove-link-styles col col-12 col-md-4" do %>
  <div class="card card-container">
    <div>
      <%= render 'properties/carrousel', property: property %>
    </div>
    <div>
      <div class="card-icons-container">
        <i class="fa-solid fa-bed"> <%= property.property_feature.rooms%></i> 
        <i class="fa-solid fa-bath"> <%= property.property_feature.bathrooms%></i>
        <i class="fa-solid fa-car"> <%= property.property_feature.parking%></i>
        <i class="fa-solid fa-expand"> <%= property.property_feature.total_area%></i>
      </div>
      <div class="card-description-container">
        <p class="card-description"><%= "#{property.kind} en #{property.operation} en 
                #{property.address.province.capitalize}, #{property.address.city}, 
                #{property.address.municipality} entre 
                #{property.address.main_street} y #{property.address.secondary_street}"%></p>
        <h4><%= property.price %> USD</h4>
      </div>
    </div>
  </div>
<% end %>
<%= link_to property_path(property), class: "remove-link-styles col col-12 col-md-4" do %>
  <div class="card card-container">
    <div>
      <%= render 'properties/carrousel', property: property %>
    </div>
    <div>
      <div class="card-icons-container">
        <i class="fa-solid fa-bed"> <%= property.property_feature.rooms%></i> 
        <i class="fa-solid fa-bath"> <%= property.property_feature.bathrooms%></i>
        <i class="fa-solid fa-car"> <%= property.property_feature.parking%></i>
        <i class="fa-solid fa-expand"> <%= property.property_feature.total_area%></i>
      </div>
      <div class="card-description-container">
        <p class="card-description"><%= "#{property.kind} en #{property.operation} en 
                #{property.address.province.capitalize}, #{property.address.city}, 
                #{property.address.municipality} entre 
                #{property.address.main_street} y #{property.address.secondary_street}"%></p>
        <h4><%= property.price %> USD</h4>
      </div>
    </div>
  </div>
<% end %>