<%= link_to property_path(property), class: "remove-link-styles col col-12 col-md-4" do %>
  <div class="card card-container">
    <div class="carrousel-index-container">
      <%= render 'properties/carrousel', property: property %>
    </div>
    <div class='card-description-container'>
      <div class="card-icons-container">
        <i class="fa-solid fa-bed"> <%= property.property_feature.rooms%></i> 
        <i class="fa-solid fa-bath"> <%= property.property_feature.bathrooms%></i>
        <i class="fa-solid fa-car"> <%= property.property_feature.parking%></i>
        <i class="fa-solid fa-expand"> <%= property.property_feature.total_area%></i>
      </div>
      <div>
        <p class="card-description"><%= "#{property.name.capitalize} en #{property.operation} en 
                #{property.address.province}, #{property.address.city}, 
                #{property.address.municipality},
                #{property.address.main_street} #{property.address.number}"%></p>
        <h4><%= price_formated(property) %></h4>
      </div>
    </div>
  </div>
<% end %>