<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @properties.each do |property| %>
    <div class="col">
      <div class="card h-100">
        <%= render 'carrousel', property: property %>
        <div class="card-body">
          <h5 class="card-title"><%= property.name %></h5>
          <p class="card-text"><%= property.description %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= property.created_at %></small>
        </div>
        <div>
          <%= link_to 'Show', property %>
          <%= link_to 'Edit', edit_property_path(property) %>
          <%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>  
      </div>
    </div>      
  <% end %>
</div>


<%= link_to 'New Property', new_property_path %>
