<div class='container pt-3'>
  <div class='row'>
    <div class='col-12 col-md-9'>
    <%# carrousel container %>
      <div class='col-12 property-sections-carrousel-container'>
        <%= render 'properties/partials/carrousel', property: @property %>
        <div class='property-sections-carrousel-container property-sections-container'>
          <h3><%= price_formated(@property) %></h3>
          <%= render 'property_features/partials/icons_container', property_feature: @property.property_feature %>
          <%# address %>
          <div class='address-property-container'>
            <%= 
              "#{@property.address.main_street.capitalize} #{@property.address.number}, 
               #{@property.address.neighborhood.capitalize}, #{@property.address.city.capitalize}"
            %>
          </div>
        </div>
      </div>

      <%# description %>
      <div class='col-12 property-sections-container'>
        <h5>Descripcion</h5>
        <p>
          <%= @property.description %>
        </p>
      </div>
      <%# caracteristicas %>
      <div class='row col-12 property-sections-container'>
        <%= render 'property_features/partials/features', property_feature: @property.property_feature %>
        <p>
          <h5>Amenities</h5>
          <div class='col-12 col-md-6'><i class='fa-solid fa-bacon'></i> BBQ: <%= @property.amenity.bbq ? 'Si' : 'No' %></div>
          <div class='col-12 col-md-6'><i class='fa-solid fa-futbol'></i> Zona deportiva: <%= @property.amenity.sport_zones ? 'Si' : 'No' %></div>
          <div class='col-12 col-md-6'><i class='fa-solid fa-dumbbell'></i> Gym: <%= @property.amenity.gym ? 'Si' : 'No' %></div>
          <div class='col-12 col-md-6'><i class='fa-solid fa-person-swimming'></i> Piscina: <%= @property.amenity.pool ? 'Si' : 'No' %></div>
          <div class='col-12 col-md-6'><i class='fa-solid fa-people-roof'></i> SUM: <%= @property.amenity.comunal_room ? 'Si' : 'No'%></div>
        </p>
      </div>
      <%# map %>
      <div class='col-12'>
        <iframe width='100%' height='600' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='http://maps.google.com/maps/place?output=embed&z=16&t=m&q=loc:<%= @property.address.latitude %>+<%= @property.address.longitude %>'>
        </iframe>
      </div>
    </div>
    <div class='col-12 col-md-3'>
      <%# contact-container %>
      <%= render 'mailer/partials/contact_form', property: @property %>
      <% if admin_signed_in? || @property.user_id == current_user.id %>
        <%= link_to 'Editar Propiedad', edit_property_path(@property), class: 'nav-link font-w-500' %>
      <% end %>
    </div>    
  </div>
</div>