<p id="notice"><%= notice %></p>

<h1>Property Features</h1>

<table>
  <thead>
    <tr>
      <th>Total area</th>
      <th>Build area</th>
      <th>Year old</th>
      <th>Rooms</th>
      <th>Bathrooms</th>
      <th>Social bathrooms</th>
      <th>Parking</th>
      <th>Trunk</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_features.each do |property_feature| %>
      <tr>
        <td><%= property_feature.total_area %></td>
        <td><%= property_feature.build_area %></td>
        <td><%= property_feature.year_old %></td>
        <td><%= property_feature.rooms %></td>
        <td><%= property_feature.bathrooms %></td>
        <td><%= property_feature.social_bathrooms %></td>
        <td><%= property_feature.parking %></td>
        <td><%= property_feature.trunk %></td>
        <td><%= property_feature.property_id %></td>
        <td><%= link_to 'Show', property_feature %></td>
        <td><%= link_to 'Edit', edit_property_feature_path(property_feature) %></td>
        <td><%= link_to 'Destroy', property_feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Feature', new_property_feature_path %>
