<%= link_to property_path(property), class: "remove-link-styles col col-12 col-md-4" do %>
  <div class="card card-container">
    <div class="carrousel-index-container">
      <%= render 'properties/partials/carrousel', property: property %>
    </div>
    <div class='card-description-container'>
      <%= render 'property_features/partials/icons_container', property_feature: property.property_feature %>
      <div>
        <p class="card-description">
          <%= "#{property.kind.capitalize} en #{property.operation} en 
               #{property.address.city},
               #{property.address.neighborhood},
               #{property.address.main_street} 
               #{property.address.number}".truncate(150)
          %>
        </p>
        <h4><%= price_formated(property) %></h4>
      </div>
    </div>
  </div>
<% end %>