<nav class="navbar navbar-expand-lg navbar-dark bg-dark header-navbar fixed-top nav-font">
  <div class="container">
    <a class="navbar-brand" href="/">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Inicio', root_path, method: :get, id: 'home', class: "nav-link font-w-500" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Propiedades', properties_path, method: :get, id: 'properties', class: "nav-link font-w-500" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Quienes Somos', about_us_path, method: :get, id: 'about_us', class: "nav-link font-w-500" %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to 'Subir propiedad', new_property_path, class: "nav-link font-w-500" %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to 'Cerrar sesi贸n', destroy_user_session_path, method: :delete, class: "nav-link font-w-500" %>
          <% else %>
            <%= link_to 'Iniciar sesi贸n', new_user_session_path, class: "nav-link font-w-500" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
switch (window.location.pathname) {
  case '/':
    $('.active').removeClass('active');
    $('#home').addClass('active');
    break;
  case '/properties':
    $('.active').removeClass('active');
    $('#properties').addClass('active');
    break;
  case '/about_us':
    $('.active').removeClass('active');
    $('#about_us').addClass('active');
    //Declaraciones ejecutadas cuando el resultado de expresi贸n coincide con valorN
    break;
  default:
    //Declaraciones ejecutadas cuando ninguno de los valores coincide con el valor de la expresi贸n
    break;
}
</script>

<style>
.logo {
  width: 75px;
}
.header-navbar {
  background-color: black !important;
  padding: 0px;
}
</style>